@model BlogsMVC.Models.bloguser

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index1</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>
    <div>
        @Html.BeginForm("login", "blogusers", "post"){
        @Html.TextAreaFor(c => c.LoginName)
        @Html.ValidationMessage("LoginName")
        <br />
        @Html.PasswordFor(c=>c.LoginPwd)
        @Html.ValidationMessage("LoginPwd")
        <br />
        <input type="submit" value="提交" />
        }
       
    </div>
</body>
</html>
