@model BlogsMVC.Models.bloguser

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index1</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>
    <div>
        <form action="login" method="post">
            @Html.DisplayNameFor(c=>c.LoginName)
            @Html.TextBoxFor(c=>c.LoginName)
            @Html.ValidationMessage("LoginName")
            <br /><br />

            @Html.PasswordFor(c => c.LoginPwd)
            @Html.ValidationMessage("LoginPwd")
            <br />
            <input type="submit" value="提交" />

        </form>
      
        
        
       
    </div>
</body>
</html>
